.index {
  height: 100%;
  position: relative;
  overflow: auto;

  .content {
    min-width: 1920px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 50px;
      bottom: -8px;
      left: 0%;
      filter: blur(5px);
      box-shadow: 0 -10px 20px 20px rgba(6, 30, 60, 0.6);
      background: url("../../assets/images/bg.png") 0 100% no-repeat;
      background-size: cover;
      z-index: 2;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 10px;
      bottom: 0px;
      left: 0%;
      background: rgba(6, 30, 60, 1);
    }

    .textLinearGradient {
      font-size: 25px;
      font-family: DIN Alternate;
      font-weight: bold;
      color: rgba(255, 255, 255, 1);
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.24);

      background: linear-gradient(180deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(0, 255, 255, 1) 100%);
      -webkit-background-clip: text;
    }

    background: url("../../assets/images/bg.png") 0 0 no-repeat;
    background-size: cover;

    .head {
      height: 116px;
      width: 100%;
      background: url("../../assets/images/to\ p.png") 0 0 no-repeat;
      background-size: cover;

      p {
        margin-top: 20px;
        width: 30%;
      }

      h3 {
        width: 30%;
        font-size: 26px;
        font-weight: bold;
        .textLinearGradient;
      }

      .time-text {
        margin-top: 45px;
        margin-left: 40px;
        white-space: nowrap;
      }
      .console {
        cursor: pointer;
        text-align: left;
        box-sizing: border-box;
        margin-top: 60px;
        margin-right: 24px;
        white-space: nowrap;
        position: absolute;
        z-index: 1;
        color: #fefefe;
        right: 0;
        font-size: 16px;
        font-weight: 500;
        height: 50px;
        line-height: 50px;
        text-align: center;
        padding: 0 32px;
        background: url('../../assets/images/commonBg.png') center center no-repeat;
        background-size: 100% 100%;
        * {
          display: inline;
        }
      }
      .device {
        font-size: 18px;
        font-weight: bold;
        color: #5ea7f3;
      }
    }

    .body {
      color: white;
      display: flex;
      justify-content: space-between;
      height: calc(~"100% - 107px");

      .bodyItem {
        height: 100%;

        .sectionTitle {
          text-indent: 24px;
          margin: 24px 0 15px;
          font-size: 15px;
          text-align: left;
          width: 510px;
          height: 43px;
          line-height: 50px;
          box-sizing: border-box;
          background: url("../../assets/images/小标题.png") 0 0 no-repeat;
          background-size: cover;
        }
      }

      .bodyLeft {
        width: 28%;
        margin-left: 30px;
        height: calc(~"100% - 80px");
        overflow-y: auto;

        .taskList {
          li {
            width: 165px;
            height: 60px;
            margin: 12px 0 24px;
            color: #f8f8f8;
            background-repeat: no-repeat;
            background-size: cover;

            &+li {
              margin-left: 20px;
            }

            div {
              margin-left: 64px;
              text-align: left;

              .num {
                font-size: 24px;
                font-family: DIN Alternate;
                font-weight: bold;
              }

              .text {
                font-size: 14px;
                font-family: Source Han Sans CN;
                font-weight: 400;
                color: rgba(177, 177, 177, 1);
              }
            }
          }
        }

        .alarmStatistics {
          .data-count {
            li {
              width: 100%;
              color: #f8f8f8;
              background-repeat: no-repeat;
              background-size: cover;

              .data-detail {
                text-align: left;
                height: 32px;
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: contain;
                padding-left: 40px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .num {
                  font-size: 16px;
                  font-weight: bold;
                  margin-left: 8px;
                }

                .text {
                  font-size: 16px;
                  font-family: Source Han Sans CN;
                  font-weight: 400;
                  color: rgba(177, 177, 177, 1);
                }
              }
            }
          }

          .charts-container {
            height: 160px;
            width: 500px;
            margin-bottom: 12px;
          }
        }

        .personCount {}

        .deviceStatistics {
          .deviceList {
            width: 510px;
            display: flex;
            justify-content: space-between;

            li {
              width: 150px;
              height: 92px;
              padding: 8px;
              box-sizing: border-box;
              color: #f8f8f8;
              background: url("../../assets/images/deviceBg@2x.png") 0 0 no-repeat;
              background-size: 100% 100%;
              text-align: left;
              text-indent: 16px;

              &+li {
                margin-left: 20px;
              }

              .text {
                font-size: 14px;
                font-family: Source Han Sans CN;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
              }

              .num {
                .textLinearGradient;
                font-size: 22px;
              }

              .proportion {
                width: 133px;
                height: 25px;
                background: rgba(0, 12, 47, 1);
                border-radius: 12px;
                font-size: 17px;
                font-family: DINPro;
                font-weight: 500;
                color: rgba(255, 255, 255, 0.6);

                span:nth-child(1) {
                  color: rgba(46, 255, 149, 1);
                }
              }
            }
          }
        }
      }

      .bodyCenter {
        width: 38%;

        .count-container {
          height: 100%;
          position: relative;

          .count-header {
            text-align: left;
            box-sizing: border-box;
            margin-top: 18px;
            margin-right: 18px;
            white-space: nowrap;
            position: absolute;
            z-index: 1;
            color: #fefefe;
            right: 0;
            font-size: 16px;
            font-weight: 500;
            height: 56px;
            line-height: 56px;
            text-align: center;
            padding: 0 32px;
            background: url('../../assets/images/commonBg.png') center center no-repeat;
            background-size: 100% 100%;
            * {
              display: inline;
            }
          }

          .entries-contianer {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            overflow-y: auto;
            height: calc(~"100% - 70px");

            .entries-item {
              width: 310px;
              height: 157px;
              margin-bottom: 30px;
              background: rgba(68, 85, 255, 0.1);
              border: 0px solid;
              box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.73), 4px -6px 26px 0px rgba(251, 217, 237, 0.64) inset;
              cursor: pointer;


              &.active {
                background: url("../../assets/images/框.png") -6px -6px no-repeat;
              }

              &.error {
                background: url("../../assets/images/红.png") 0px 0px no-repeat;
              }

              &.placeholder {
                height: 0;
                overflow: hidden;
              }

              .entries-item-title {
                height: 44px;
                line-height: 44px;
                background: rgba(74, 102, 255, 0.2);
                text-align: center;
                font-size: 20px;
                font-family: Source Han Sans SC;
                font-weight: bold;
              }

              .entries-item-data {
                width: 80%;
                margin: auto;
                height: 70px;
                font-weight: 500;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .data-count {
                  font-size: 40px;
                  font-family: DINPro;
                }

                .data-status {
                  font-size: 32px;
                  font-family: Source Han Sans CN;
                }
              }

              .entries-item-name {
                width: 80%;
                margin: auto;
                font-size: 16px;
                font-family: Source Han Sans CN;
                font-weight: 400;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .name-count {}

                .name-status {}
              }
            }
          }

          .gis-container {
            height: 100%;
            box-shadow: 0 0 1px 2px rgba(22, 88, 255, 0.2);
          }

          .device-header {
            position: absolute;
            z-index: 1;
            bottom: 0px;
            right: 0px;
            margin-bottom: 88px;
            margin-right: 18px;
            width: 154px;
            height: 56px;
            cursor: pointer;
            background: url('../../assets/images/deviceButton.png') center center no-repeat;
            background-size: 100% 100%;
          }
          .map-buttons {
            position: absolute;
            z-index: 1;
            bottom: 0px;
            right: 0px;
            margin-bottom: 88px;
            margin-right: 18px;
            width: 360px;
            text-align: right;
            .map-buttons-save, .map-buttons-cancel {
              cursor: pointer;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center center;
              display: inline-block;
              vertical-align: middle;
              width: 140px;
              height: 60px;
              line-height: 60px;
              font-family:Adobe Heiti Std;
              text-align: center;
              font-weight: 600;
            }
            .map-buttons-save {
              background-image: url('../../assets/images/moving_save.png');
              color:rgba(18,28,58,1);
            }
            .map-buttons-cancel {
              background-image: url('../../assets/images/moving_cancel.png');
              color:rgba(52,185,253,1);
            }
          }
        }
      }

      .bodyRight {
        width: 28%;

        .device-container {
          height: 100%;

          .device-content {
            height: calc(~"100% - 62px");

            .active-device-name {
              text-align: left;
              font-size: 24px;
              font-family: Source Han Sans CN;
              font-weight: 500;

              img,
              span {
                display: inline-block;
                vertical-align: middle;
              }

              span {
                margin-left: 12px;
              }
            }

            .camera-list {
              height: 108px;
              margin-top: 16px;
              text-align: left;

              li {
                width: 158px;
                height: 100%;
                display: inline-block;
                vertical-align: middle;
                border: 2px solid rgba(255, 255, 255, 1);
                margin-left: 12px;
                box-sizing: border-box;
                position: relative;

                .video {
                  position: absolute;
                  height: 100%;
                  width: 100%;

                  video {
                    height: 100%;
                    width: 100%;
                  }
                }

                .camera-name {
                  position: absolute;
                  left: 8px;
                  bottom: 0;
                  height: 22px;
                  line-height: 22px;
                  background: url("../../assets/images/cameraIcon.png") 0 center no-repeat;
                  font-size: 13px;
                  font-family: Source Han Sans SC;
                  font-weight: bold;
                  text-indent: 32px;
                  opacity: 0.5;
                }
              }
            }

            .camera-tab {
              height: 26px;
              width: 505px;
              margin: 20px 0;
              text-align: center;

              li {
                opacity: 0.8;
                display: inline-block;
                vertical-align: middle;
                margin: 0 8px;
              }
            }

            .video-container {
              height: calc(~"100% - 300px");
              overflow-y: auto;
              margin-left: -120px;
              padding-left: 120px;

              .video-header {
                width: 505px;
                display: flex;
                justify-content: space-around;
                font-family: Source Han Sans SC;
                font-weight: bold;
                color: rgba(118, 184, 230, 1);
                padding-bottom: 8px;
                margin-bottom: 16px;
                border-bottom: 1px solid rgba(118, 183, 230, 0.2);

                .time {
                  width: 40%;
                  font-size: 16px;
                  text-align: left;
                }

                .process,
                .status {
                  width: 20%;
                  font-size: 16px;
                }
              }

              .video-list-container {
                position: relative;
                height: calc(~"100% - 30px");

                .video-list {
                  // height: calc(~"100% - 30px");

                  li {
                    cursor: pointer;
                    display: flex;
                    justify-content: space-around;
                    width: 95%;
                    height: 34px;
                    line-height: 34px;
                    font-size: 15px;
                    font-weight: bold;
                    background: linear-gradient(0deg,
                        rgba(18, 41, 106, 0.3) 0%,
                        rgba(37, 111, 195, 0.5) 100%);
                    border-radius: 17px;
                    margin-bottom: 12px;
                    position: relative;
                    z-index: 20;
                    overflow: visible;

                    .time {
                      width: 40%;
                      text-align: left;
                    }

                    .process,
                    .status {
                      width: 20%;
                    }

                    .activeTag {
                      position: absolute;
                      left: -12%;
                      top: 50%;
                      margin-top: -75px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}